.arrow ˙{
    width: 100px;
}
h1 {
    text-align: center;
    font-size: 100px;
    font-family: sans-serif;
}
body {
    background-image:url(gigachad.webp);
}
P {
    font-size: 80px;
}